/* #region font  */
@font-face {
    font-family: 'gg sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans Bold'), url('../fonts/gg\ sans\ Bold.woff') format('woff');
}

@font-face {
    font-family: 'gg sans Normal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans Normal Regular'), url('../fonts/gg\ sans\ Regular.woff') format('woff');
}

@font-face {
    font-family: 'gg sans Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans Medium Regular'), url('../fonts/gg\ sans\ Medium.woff.woff') format('woff');
}

@font-face {
    font-family: 'gg sans SemiBold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans SemiBold Regular'), url('../fonts/gg\ sans\ Semibold.woff') format('woff');
}

/* #endregion font  */

/* #region commons  */
:root {
    --discord-dark: #23272A;
    --discord-primary: #2A5EE8;
    --discord-bg-light: #F6F6F6;
    --discord-secondary: #7289DA;
    --discord-secondary-light: #8EA1E1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion commons  */

body {
    font-family: "gg sans Normal Regular", Calibri, Tahoma, sans-serif;
}

/* #region utilities */

.container {
    max-width: 1180px;
    margin: auto;
    padding: 8rem 0;
    align-items: flex-start;
}

.container-small {
    max-width: 750px;
    margin: auto;
}

.d-flex {
    display: flex;
}

/* #endregion utilities */

/* #region header */

header {
    font-family: "gg sans SemiBold Regular", Calibri, Tahoma, sans-serif;
    background-color: var(--discord-primary);
}

nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    letter-spacing: .02rem;
}

.nav_links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
}

.nav_links a {
    color: white;
    text-decoration: none;
}

.nav_links a:hover {
    text-decoration: underline;
}

button {
    font-weight: 600;
    border: none;
    padding: .7rem 1.2rem;
    border-radius: 2rem;
}

.login_btn {
    color: var(--discord-dark);
}

.login_btn:hover {
    color: var(--discord-primary);
    box-shadow: 0 8px 15px -2px hsla(240, 67%, 40%, 0.6);
    transition: all 0.25s ease;
    cursor: pointer;
}

/* #endregion header */

/* #region hero */

section.hero {
    height: 490px;
    background-color: var(--discord-primary);
    background-image: url("../img/jumbo.png");
    background-position: top;
    background-size: cover;
    color: white;
}

.hero_card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.hero_card .hero_title {
    font-family: "gg sans Bold", Calibri, Tahoma, sans-serif;
    font-size: 3.5rem;
}

.hero_card p {
    font-family: "gg sans Regular Regular", Calibri, Tahoma, sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.download_btn,
.open_btn {
    padding: 1rem 2rem;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0 .5rem;
}

.icon_download {
    display: inline-block;
    rotate: 90deg;
}

.download_btn {
    color: var(--discord-dark);
}

.download_btn:hover {
    color: var(--discord-primary);
    box-shadow: 0 10px 10px 0 hsla(240, 67%, 40%, 0.5);
    transition: all 0.25s ease;
}

.icon-arrow-down:hover {
    color: var(--discord-primary);
    transition: all 0.25s ease;
}

.open_btn {
    background-color: var(--discord-dark);
    color: white;
}

.open_btn:hover {
    background-color: #31373b;
    box-shadow: 0 10px 10px 0 hsla(240, 67%, 40%, 0.5);
    transition: all 0.25s ease;
}

/* #endregion hero */

/* #region sections */

/* .invite {
    background-image: url(../img/wave.svg);
    background-position: bottom;
    background-size: 4000px;

} */

.col_image {
    width: 60%;
    justify-content: flex-end;
}

.col_text {
    width: 40%;
    padding: 2rem 5rem 0 5rem;
}

.col_text h2 {
    font-family: "gg sans Bold", Calibri, Tahoma, sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.col_text p {
    font-size: 1.2rem;
}

#first_wave{
    width: 100%;
    margin-bottom: -2rem;
}

.meet {
    background-color: var(--discord-bg-light);
}

#second_wave{
    width: 100%;
    rotate: 180deg;
    margin-bottom: 2rem;
}

.debug .keep_in_touch .container {
    background-color: green;
    height: 1000px;
}

.keep_in_touch {
    background-color: rgb(218, 218, 218);
    text-align: center;
}

.keep_in_touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* #endregion sections */


/* #region footer */

.debug footer {
    height: 540px;
}

.debug .footer_social {
    background-color: pink;
    border: 1px dashed black;
    flex-grow: 1.75;
}

.debug .footer_links {
    background-color: rgb(9, 197, 175);
    border: 1px dashed black;
    flex-grow: 1;
}

.debug .footer_bottom {
    background-color: aquamarine;
}

footer {
    padding: 4rem 12.5rem;
    background-color: #23272A;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.footer_top {
    display: flex;
    height: 80%;
    border-bottom: .08rem solid white;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
}

/* #endregion footer */